[submodule "hacker-manual"]
	path = hacker-manual
	url = https://github.com/urbeETH/ethrome-2026-hacker-manual.git
[submodule "src/Ancorhash.Contracts/lib/openzeppelin-contracts"]
	path = src/Ancorhash.Contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
